<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SaveFileRootPath" value="E:\SVN\省电信微信公众平台\trunk\项目源码\Battery\Support.File\Files\"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" batch="true" defaultLanguage="c#" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="4096" executionTimeout="300"/>
    <!--文件大小（4096KB），超时时间（300秒）-->
    <customErrors mode="Off"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>