
@{
    ViewBag.Title = "ScanAddtest";
    Layout = null;
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>ScanAddtest</h2>

<input type="text" id="loginbox" style="width:300px"/>
<script>
    $(document).keydown(function (e) {
        if (e.keyCode == 13) {
            //模拟点击登陆按钮，触发上面的 Click 事件
            alert("dddddddd");
        }
    });


</script>