###域名正则表达式#####
TK.AdminDomainRegex=^http://localhost/sysmanager(/|$)|^http://localhost/company(/|$)
TK.SysMRegex=^http://localhost/sysmanager(/|$)
TK.CompanyMRegex=^http://localhost/company(/|$)
####系统域名####
AppDomain=http://localhost:52044
####Socket短信接口服务器地址####
SocketSmsAddress=127.0.0.1
####Socket短信接口服务器端口####
SocketSmsPort=10888
####短信接口服务器地址####
SmsAddress=app.cloopen.com
####短信接口服务器端口####
SmsPort=8883
####短信接口主帐号####
SmsAccountSid=aaf98f894d22eb10014d232799df0069
####短信接口主账号令牌####
SmsAccountToken=6fcb7ec1a0e448409424aea1aa2a96a4
####短信接口应用ID####
SmsAppId=8a48b551544cd73f015484c38b4d3660
####短信接口应用ID####
SmsAppIdYz=8a216da85f008800015f0f4470f20589
####短信接口验证码模版ID####
SmsVerifyCodeTemplateId=210166
####短信审核通过模版ID####
SmsCheckTemplateId=210139
####短信审核不通过模版ID####
SmsNoCheckTemplateId=211938
###发送兑换码##
SmsChangeCode=211539
####微信AppID####
WX.AppId=wxfdc34341a8e8b5ca
WX.SecretKey=eb9dcc7f16bd58e4188149c342135c9f
WX.EncodingAESKey=tk0Rba2cnFpvH2Mmxq7RDWLLGryUNO0Fbg1u3uS7KIp
WX.OAout2_State=Battery
####拓客加密信息####
Battery.DesKey=YiZhong_Battery
Battery.DesIV=YiZhong_Battery
####拓客写回传数据文件####
Battery.CountToFile=101
Battery.CountToFilePath=I:\wmb\work\Code\拓客\writefile
