<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  
  <variable name="myvar" value="myvalue"/>
  <targets>
    <target xsi:type="File" name="fService" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/Service/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fCheckJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/CheckJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fDbBackupJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/DbBackupJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fUserBackupJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/UserBackupJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fTokenJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/TokenJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fFreePlanJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/FreePlanJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fWxCustomJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/WxCustomJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fWxSendTempJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/WxSendTempJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fRefundJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/RefundJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fPerformanceJob" createDirs="true" encoding="utf-8" fileName="${basedir}/Logs/PerformanceJob/${uppercase:${level}}/${shortdate}.log" layout="${longdate} ${message}" />
  </targets>

  <rules>
    <logger name="Service" minlevel="Debug" writeTo="fService" />
    <logger name="CheckJob" minlevel="Debug" writeTo="fCheckJob" />
    <logger name="DbBackupJob" minlevel="Debug" writeTo="fDbBackupJob" />
    <logger name="UserBackupJob" minlevel="Debug" writeTo="fUserBackupJob" />
    <logger name="TokenJob" minlevel="Debug" writeTo="fTokenJob" />
    <logger name="FreePlanJob" minlevel="Debug" writeTo="fFreePlanJob" />
    <logger name="WxCustomJob" minlevel="Debug" writeTo="fWxCustomJob" />
    <logger name="WxSendTempJob" minlevel="Debug" writeTo="fWxSendTempJob" />
    <logger name="RefundJob" minlevel="Debug" writeTo="fRefundJob" />
    <logger name="PerformanceJob" minlevel="Debug" writeTo="fPerformanceJob" />
  </rules>
</nlog>